
body{
    background-image: url(images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Helvetica;
}
.container-fluid{
    background-color:transparent;
    backdrop-filter: blur(50px);
}
.container{
    padding: 5px;
    color: black;
}


#sum{
    backdrop-filter: blur(30px);
}
#aboutme{
    backdrop-filter: blur(30px);
}
#con{
    align-items: center;
    width: 500px;
    margin-left: 500px;
    backdrop-filter: blur(20px);
}

#pro1{
    backdrop-filter: blur(20px);
}
#pro2{
    backdrop-filter: blur(20px);
}
#sk1{
    backdrop-filter: blur(20px);
}
#sk2{
    backdrop-filter: blur(20px);
}
#sk3{
    backdrop-filter: blur(20px);
}
#sk4{
    backdrop-filter: blur(20px);
}

#pro1:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

#pro2:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
#sk1:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
#sk2:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
#sk3:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
#sk4:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
#footer{
    height: 50px;
}
#mail:hover,#phone:hover,#linkin:hover,#insta:hover{
    transform: scale(1.4);
}
